body{
margin-top:0;
margin-left:0;
margin-right:0;
margin-bottom: 0;
}
div{
background-color:#434e52;
color:#f1fcfc;
height:75px;
font-family:arial;
}
a:link,a:active,a:visited{
text-decoration:none;
color:#f1fcfc;
}
a:hover{
color:#bbe1fa;
}
.box:hover{
	background-color:#333333;
}
iframe{
	border: none;
	width: 100%;
	height:1020px;
	margin: 0;
}
td{
width:20%;
}
.bottom-container{
	background-color: #434e52;
	color:#f1fcfc;
	height: 60px; 
	padding-top: 15px;
	text-align: center;
	margin-top: 0;
} 

span {
	color: red;
}
