body{
	margin-top: 0;
	margin-left: 0;
	margin-right:0; 
	margin-bottom: 0;
	background-image: url("background.jpg");
	background-size: cover;
}
.dp{
	border-radius: 50%;
}
a{
	text-decoration: none;

}
a:link{
	color: white;
}
a:visited{
	color:white;
}
a:hover{
color:#b3e6ff;
}

/*
.pic{
	background-image: url('bg.jpg');
}
*/
.slider{
background-color:white;
	margin-top: 10px;
	width: 300px;
	height: 15px;
	margin-bottom: 0;
}
.percentage{
	margin: 0;
	background-color: #7fcd91;
	width: 60%;
	height: 15px;
}
.percentage1{
	margin: 0;
	background-color: #7fcd91;
	width: 80%;
	height: 15px;
}
.percentage2{
	margin: 0;
	background-color: #7fcd91;
	width: 70%;
	height: 15px;
}
.class{
	margin: 0;
}

/*
.nav{
    margin-top: -100px;
	position: fixed;
}
*/

.contact {
	margin-top: 30px;
}
