body{
margin-top:0;
margin-left:0;
margin-right:0;
background-image: url("location.jpg");
background-size: cover;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
p{
	font-size: 20px;
	color: #fcf9ea;
}
h1,h2{
	color: #010a43;
}